
VERIFIER_TYPE=TeeAvailabilityCheck
SOURCE_ID=xrp
PORT=3120
# TeeAvailabilityCheck
RELAY_CONTRACT_ADDRESS=
TEE_REGISTRY_CONTRACT_ADDRESS=
RPC_URL=
# PMWPaymentStatus
CCHAIN_DATABASE_URL=ftso_user:ftso_pass@tcp(127.0.0.1:3306)/flare_ftso_indexer?parseTime=true
DATABASE_URL=postgres://username:password@127.0.0.1:5432/flare_xrp_indexer
